<!--
File: bottom_nav.ejs
Student Name: Manvibolreach Ouk
Student ID: 301224112
Date: October 01, 2022
-->

<footer class="footer">
    <div class="footerContainer">
        <p class="copyright">&copy;&nbsp;&nbsp; Copyright Manvibolreach Ouk - ID number: 301224112</p>
    </div>
</footer>
