<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css" />
    <link rel=' stylesheet ' href='/Content/app.css' />

</head>

<body>  
  <nav class="navbar navbar-expand-lg bg-dark navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><img src="Assets/images/logo.png"style="width:180px" height="40px" alt="Logo"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                <% if (title == "Home") { %>
                <li class = "nav-item active">
                <% } else { %>
                <li class = "nav-item">
                <% } %>
                    <a class="nav-link" href="/home"><i class="fa-solid fa-house"></i> Home </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/about"><i class="fa-solid fa-circle-info"></i> About </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products"><i class="fa-solid fa-map-location-dot"></i> Products </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/service"><i class="fa-solid fa-gear"></i> Services </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact"><i class="fa-sharp fa-solid fa-phone"></i> Contacts </a>
                </li>
            </ul>
        </div>
        
            
    </nav>
   
    <div class="textAlign">
      <h1>Welcome to my world!</h1>
    <h2>
      <a href="" class="typewrite" data-period="2000" data-type='[ "Hi, Im Manvibolreach Ouk.", "Im a Coder.", "I Love technology.", "I Love to Develop." ]'>
        <span class="wrap"></span>
      </a>
    </h2>
    <p>I want to be ready to develop technology that has not existed. I want to learn more about coding and useful software that is able to prepare my journey to be in this 21st-century industry. 
      
  </p>
  <p>Since I am into creating new products in software for solving issues in daily life. Therefore, this program is excellent for me.</p>
  <p>My goal is to do internship jobs in big tech companies like Google, Amazon, LinkedIn, and more. 
  </p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <h1></h1>
  <a href="https://www.youtube.com/watch?v=YfmYUtGOaTg&t=520s" class="btn btn-outline-primary" role="button">About Me</a>
  <a href="https://www.youtube.com/watch?v=YfmYUtGOaTg&t=520s" class="btn btn-outline-success" role="button">Travelling</a>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <h1></h1>
  <div class="text-wave">
    <span style="--i:1">G</span>
    <span style="--i:2">I</span>
    <span style="--i:3">V</span>
    <span style="--i:4">E</span>
    <span style="--i:5">N</span>
    <span style="--i:6">.</span>
    <span style="--i:7">.</span>
    <span style="--i:8">.</span>
    <span style="--i:9">P</span>
    <span style="--i:10">O</span>
    <span style="--i:11">W</span>
    <span style="--i:12">E</span>
    <span style="--i:13">R</span>
    <span style="--i:14">.</span>
    <span style="--i:15">.</span>
    <span style="--i:16">.</span>
   </div>
</div>
  
 
       
</body>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Scripts/app.js"></script>

</html>